<div class="wrapper d-flex justify-content-center align-items-center">
  <div class="w-wrapper">
    <div class="w-heading">
      <h2>Welcome to Cas Client1</h2>
    </div>
    <div class="w-body">
      <div class="icon-quote">
        <span class="icon">
          <i class="fa fa-quote-left" aria-hidden="true"></i>
        </span>
        <span class="quote">
          Anh đi tìm thì em trốn, anh đi trốn em không tìm
        </span>
      </div>
      <div class="author">
        --Đen Vâu
      </div>

    </div>
  </div>
</div>